.font{
    font-family: "Times New Roman", Times, serif;
}
.myButton {

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#a4a8a7;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	font-family: "Times New Roman", Times, serif;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 7px 7px 7px;
	text-decoration:none;
	float: right;
	
}
.myButton:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
