<!--the get customer componnent is used to udpate the customer to -->
<h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> GET CUSTOMER</h2>

<div style="width: 300px">
<label for="inputEmail4">&nbsp;&nbsp;ID:  &nbsp;</label> 
<input type="number"  class="form-control"  name="id" placeholder="insert customer id" [(ngModel)]="theId"><br>
&nbsp;&nbsp;<button (click)="getCustomer()">GET CUSTOMER</button>
</div>



<hr>
<table style="margin-left: 10px" class="table table-striped table-bordered" *ngIf="customerAdd">
  
  <tr>
    <th>
      ID
    </th>
    <th>
        NAME
    </th>
    <th>
          PASSWORD
    </th>     
     <tr >
      <td>{{customerAdd.id}}</td>
      <td>{{customerAdd.name}}</td>
      <td>{{customerAdd.password}}</td>
    
      
    </tr>    
  </table>
 <br>  <label for="inputEmail4">&nbsp;&nbsp;UPDATE PASSWORD: &nbsp;</label> 
    <input type="text"  style="width: 300px" class="form-control"  name="updatePass" [(ngModel)]="updatedPassword"placeholder="insert new password">&nbsp;
  <br>&nbsp; <button (click)="changePassword()" >CHANGE PASSWORD</button>
 
  