
<hr>
<table style="margin-left: 10px" class="table table-striped table-bordered">
  <tr>
    <th>
      ID
    </th>
    <th>
        NAME
    </th>
    <th>
          PASSWORD
    </th>          
    <th>
      EMAIL
    </th>
    <th>
      <button (click)="deleteCompany(i)">X</button>
    </th>
  </tr>
  
  <tr *ngFor="let comp of companies; let i = index">
    <td>{{comp.id}}</td>
    <td>{{comp.name}}</td>
    <td>{{comp.password}}</td>
    <td>{{comp.email}}</td>
    <td><button (click)="deleteCompany(i)">X</button></td>
  </tr>
</table>
<br>
<br>
